            .divM{ 
                margin: auto;
                text-align:center;
                background-color: #BDBDBD;
                width:600px;
                height:157px;
                border:solid;
            }
